<% provide(:title, "Réinitialiser le mot de passe") %>

<h1 class="register-title">Réinitialiser le mot de passe</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@utilisateur, url: password_reset_path(params[:id])) do |f| %>

      <%= render 'shared/error_messages', object: f.object %>

      <%= hidden_field_tag :email, @utilisateur.email %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit "Mettre à jour le mot de passe", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>