<li id="micropost-<%= micropost.id %>">
  <%= link_to gravatar_for(micropost.utilisateur, size: 50), micropost.utilisateur %>
  <span class="utilisateur"><%= link_to micropost.utilisateur.nom, micropost.utilisateur %></span>
  <span class="content">
    <%= micropost.content %>
    <%= image_tag micropost.picture.url if micropost.picture? %>
  </span>
  <span class="timestamp">
    Posté il y a <%= time_ago_in_words(micropost.created_at) %>.
    <%= link_to "supprimer", micropost, method: :delete,
    data: { confirm: "Êtes-vous sûr ?" } %>
  </span>
</li>